@font-face {
   font-family: 'MotleyForcesRegular-w1rZ3';
   font-display: swap;
   src: url('file:///C:/Users/Utilizador/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-11-26_092858/fonts/MotleyForcesRegular-w1rZ3/font.ttf');
}
